*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg , rgb(6, 43, 98), rgb(50, 81, 171));
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

        h1{
            color: whitesmoke;
        }
        
    @media (max-width: 800px){
        width: 100%;
    }
}

.clock_container{
    height: 80vh;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.grid-item {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 3px 15px rgb(0, 0, 0);

    .clockForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.nameTime{
    background-color: rgba(0, 0, 0, 0.561);
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(210, 210, 210);
    z-index: 1;

    h2{
        font-size: 4vh;
    }
}

#clock1{
    grid-area: 1/1/3/2;
}

#clock2{
    grid-area: 1/2/2/4;
}

#clock3{
    grid-area: 2/3/4/4;
}

#clock4{
    grid-area: 3/1/4/3;
}