*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5EEFF;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 1726px;
    width: 1224px;
    margin: 50px auto;
    gap: 20px;
}

.grid-item{
    height: 271px;
    width: 296;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: 1/3/3/5;
    height: auto;
    background-color: #020253;
    text-align: center;
    gap: 19px;
}

#banner h2{
    color:#0EE1DA;
    font-size: 60px;
    width: 80%;
}

#banner p{
    color: #F9F9F9;
    width: 90%;
    font-size: 20px;
}

#form {
    grid-area: 4/1/7/3;
    height: auto;
    background-color: #8E097C;
    display: flex;
    flex-direction: column;
    padding: 56.73px;
    color: white;
    text-align: center;
}

.form_fields{
    display: flex;
    flex-direction: column;
}

#form h3{
    font-weight: bolder;
    margin-bottom: 23px;
}

#form label{
    color: #0EE1DA;
    margin-left: auto;
    margin-bottom: 5px;
    font-weight: bold;
}

#form input{
    height: 60px;
    border-bottom: 5px solid #0EE1DA;
    margin-bottom: 15px;
}

#form button{
    margin-top: 20px;
    height: 60px;
    background-color: #0EE1DA;
    font-weight: bold;
}

#img1{
    background-image: url(images/project6_images/Rectangle\ 515.png);
    background-size: cover;
    background-position: center;
}

#img2 {
    background-image: url(images/project6_images/Rectangle\ 514.png);
    background-size: cover;
    background-position: center;
}

#img3 {
    background-image: url(images/project6_images/Rectangle\ 516.png);
    background-size: cover;
    background-position: center;
}

#img4 {
    background-image: url(images/project6_images/Rectangle\ 506-5.png);
    background-size: cover;
    background-position: center;
}

#img5 {
    background-image: url(images/project6_images/Rectangle\ 506-2.png);
    background-size: cover;
    background-position: center;
}

#img6 {
    background-image: url(images/project6_images/Rectangle\ 506-3.png);
    background-size: cover;
    background-position: center;
}

#img7 {
    background-image: url(images/project6_images/Rectangle\ 506-4.png);
    background-size: cover;
    background-position: center;
}

#img8 {
    background-image: url(images/project6_images/Rectangle\ 506-1.png);
    background-size: cover;
    background-position: center;
}

#img9 {
    background-image: url(images/project6_images/Rectangle\ 506-8.png);
    background-size: cover;
    background-position: center;
}

#img10 {
    background-image: url(images/project6_images/Rectangle\ 506-7.png);
    background-size: cover;
    background-position: center;
}

#img11 {
    background-image: url(images/project6_images/Rectangle\ 506-9.png);
    background-size: cover;
    background-position: center;
}
#img12 {
    background-image: url(images/project6_images/Rectangle\ 506-6.png);
    background-size: cover;
    background-position: center;
}
#img13 {
    background-image: url(images/project6_images/Rectangle\ 513.png);
    background-size: cover;
    background-position: center;
}
#img14 {
    background-image: url(images/project6_images/Rectangle\ 506-4.png);
    background-size: cover;
    background-position: center;
}