*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(232, 231, 231);
}

.main_cntr{
    width: 70%;
}

.carousel-inner {
    width: 100%;
    height: 600px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    height: 600px;
    width: 40%;
}

form img{
    height: 80px;
}

@media (max-width:900px) {
    .main_cntr{
        margin-top: 50px;
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 700px;
    }

    .carousel-inner {
        width: 100%;
        height: 300px;
    }

    form{
        width: 100%;
        height: 500px;
        font-size: 12px;
    }

    .border{
        width: auto;
        height: 90%;
    }

    form h2{
        font-size: 18px;
        margin-bottom: 20px;
    }

    form h3{
        font-size: 14px;
    }

    form img {
        display: none;
    }

    input{
     height: 35px;   
    }

    }