*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#gameContainer{
    border: 2px solid white;
    width: 80%;
    height: 600px;
    margin-inline: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.405);
}

.square{
    height: 199px;
    width: 100%;
    background-color: rgba(166, 166, 166, 0.147);
   
}

.squareImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}



.gameTracker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.83);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

    .playAgain{
        display: none;
        text-align: center;
        padding: 15px 50px;
        margin-top: 10px;
        border: none;
        border-radius: 10px;
    }

    #winCounters{
        display: flex;
    
        .counter{
            background-color: rgb(39, 209, 124);
            margin: 0px 10px;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}


.x{
    background-image: url('./images/x.png'); 
    background-position: center;
    background-size: contain;
}

.o{
    background-image: url('./images/o.png'); 
    background-position: center;
    background-size: contain;
}

