*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

#contrast-layer{
    background-color: rgba(0, 0, 0, 0.571);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-block: 10px;
}

#popupDiv{
    position: fixed;
    margin-inline: 35%;
    text-align: center;
    width: 30%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.536);
    z-index: 2;
    
    button{
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(97, 96, 96);
        color: rgb(255, 255, 255);
        transition: 0.2s;

        &:hover{
            transform: scale(1.1);
        }
    }
}

.hidden{
    display: none;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: auto;
}

.countryCard{
    width: 300px;
    margin: 0;
    padding: 0;
    height: fit-content;
    max-height: 450px;
    border: none;
   
    background-color: whitesmoke;
    

    img{
        width: 100%;
        height: 200px;
        border-bottom: 3px groove #474747;
      
    }
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Truncates long text */
}
/* .button{
    transition: 0.3s;

    &:hover{
        background-color: rgb(20, 52, 127);
        color: white;
    }
} */


