*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

#contrast-layer{
    background-color: rgba(0, 0, 0, 0.571);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-block: 10px;
}

#popupDiv{
    position: fixed;
    margin-inline: 35%;
    text-align: center;
    width: 30%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.536);
    z-index: 2;
    
    button{
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(97, 96, 96);
        color: rgb(255, 255, 255);
        transition: 0.2s;

        &:hover{
            transform: scale(1.1);
        }
    }
}

.hidden{
    display: none;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: auto;
}

.country{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.536);
    
}

.nameDiv{
    background-color: rgb(241, 241, 241);
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;

    h2{
        font-size: 3vh;
        padding: 10px; 
    }
}

.flag{
    width: 300px;
    height: 200px;
}

.buttonDiv{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid rgb(0, 0, 0);
    
    button:hover{
        background-color: rgb(0, 0, 0);
        color: white;
    }

    button{
        background-color: whitesmoke;
        font-size: 16px;
        width: 30%;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid black;
        transition: 0.5s;
        
    }
}

.statDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.226);
}

